.offcanvas-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hide the menu */
    width: 250px;
    height: 100%;
    background-color: #333333;
    overflow-y: auto;
    transition: left 0.3s ease;

    
}
.burger{
    padding: 20px;
    position: relative; /* Ensure proper stacking context */
    z-index: 2; 

}
   
.overlay {
    position: fixed;
    display: none   ; /* Hide overlay by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1; /* Ensure it's above main content but below the menu */
}
.d-display{
    display:block;
}